*{
    padding: 0px ;
    margin: 0px ;
    box-sizing: border-box ;
}






html{
    height: 100% ;
}

body{
    width: 100vw ;
    height: 100% ;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat ;
    font-family: 'Kumbh Sans', sans-serif ;
}

#container{
    transform: translate(-50%, -50%);
    position: fixed ;
    top: 50% ;
    left: 50% ;
    width: 58% ;
    max-width: 900px ;
    min-width: 750px ;
    height: 500px ;
    
    background-color: white ;
    border-radius: 25px ;
    box-shadow: 0px 4px 30px -4px black ;
}


/* IMAGES */
#image_box{ 
    position: absolute ;
    right: 56% ;
    width: 44% ;
    height: 100% ;
    
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px ;
    overflow: hidden ;
}
#image_box div, div#img_orange{ 
    position: absolute ;
    
    background-size: contain ;
    background-position: right ;
    background-repeat: no-repeat ;
}

div#img_bg{
    background-image: url("images/bg-pattern-desktop.svg") ;
    left: -156% ;
    top: -87% ;
    width: 256% ;
    height: 250% ;
}
div#img_woman{
    background-image: url("images/illustration-woman-online-desktop.svg") ;
    left: -26% ;
    top: 13% ;
    width: 126% ;
    height: 71% ;
}
div#img_orange{
    background-image: url("images/illustration-box-desktop.svg") ;
    transform: translateX(-48.5%) ;
    width: 21% ;
    height: 37% ;
    left: 0px ;
    top: 37% ;
    
}




/* QUESTIONS REPONSES  border: 1px solid black ; */
#question_box{
    position: absolute ;
    left: 55% ;
    top: 15% ;
    width: 35% ;
    
    display: flex ;
    justify-content: space-evenly ;
    align-content: stretch ;
    flex-direction: column ;
}
h1{
    font-size: 27px ;
    font-weight: bolder ;
    color: hsl(238, 29%, 16%) ;
    margin-bottom: 30px ;
}

.question{
    border-bottom: 1px solid hsl(240, 5%, 91%) ;
    padding: 20px 0px ;
}

h3{ 
    color: hsl(237, 12%, 33%) ;
    font-size: 15px ;
    font-weight: 400 ;
}
h3:active{
    color: hsl(14, 88%, 65%) ;
}

#question_box img{
    position: absolute ;
    right: 0% ;
    transition: transform 10ms linear ;
}
.up{
    transform: rotate(180deg) ;
}

.reponse{
    color: hsl(240, 6%, 50%) ;
    font-size: 12px ;
    display: none ;
    margin-top: 13px ;
}


footer{
    position: absolute ;
    width: 100% ;
    bottom: 0px ;
    font-size: 11px; 
    text-align: center ;
    color: hsl(228, 45%, 44%) ;
}









/* REPONSIVE */
@media only screen and (max-width: 900px) {
    #container{
        width: 85% ;
        min-width: 0px ;
        height: 75% ;
        top: 55% ;
        display: flex ;
        justify-content: center ;
        align-items: flex-end ;
        
        border-radius: 20px ;
        box-shadow: 6px 6px 20px -10px black ;
    }
    
    
    
    
    
    /* transform: translateX(-60.8%) ; */
    #image_box{ border: 2px solid green ;
        position: absolute ;
        right: 56% ;
        width: 44% ;
        height: 100% ;

        border-top-left-radius: 25px ;
        border-bottom-left-radius: 25px ;
        overflow: hidden ;
        display: none ;
    }
    #image_box div, div#img_orange{ border: 1px solid black ;
        display: block ;
        position: absolute ;

        background-size: contain ;
        background-position: right ;
        background-repeat: no-repeat ;
    }

    div#img_bg{
        background-image: url("images/bg-pattern-desktop.svg") ;
        left: auto ;
        top: auto ;
        width: 100% ;
        height: 100% ;
    }
    div#img_woman{
        background-image: url("images/illustration-woman-online-desktop.svg") ;
        left: auto ;
        top: auto ;
        width: 100% ;
        height: 100% ;
    }
    div#img_orange{display: none ;
        background-image: url("images/illustration-box-desktop.svg") ;
        transform: translateX(-48.5%) ;
        width: 21% ;
        height: 37% ;
        left: 0px ;
        top: 37% ;

    }
    
    
    
    
    
    
    #question_box{
        width: inherit;
        left: auto ;
        top: auto ;
        margin-bottom: 50px ;
    }
    
    h1{
        text-align: center ;
    }
    
}